:root{
    --border-center-diV: #eee;
    --text-color: #eee;
}

.centerdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 5vh;
    width: 80%;
    border: 1px solid var(--border-center-diV);
    border-radius: 15px;
}

.centerdiv a{
    color: var(--text-color);
    text-decoration: none;
}

.centerdiv ul{
    padding: 0;
}

.centerdiv li{
    font-size: 17px;
}